@use "./../../../theme/" as *;

.main__todo_container {
    padding: $sm;
    margin-top: $md;

    form {
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include flex(space-between, center, row);
        margin-bottom: $sm;
        border-radius: $xxsm;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        @media screen and (min-width: $b-sm) {
            min-width: $b-sm;
        }

        @media screen and (min-width: $b-md) {
            min-width: $b-md;
        }
        button {
            width: max-content;
        }

        input {
            outline: none;
            border: none;
            flex: 1;
            line-height: 1rem;
            padding: $xsm;
        }
    }

    .todo__container {
        display: flex;
        flex-direction: column;

        .todo {
            @include flex(space-between, center, row);

            margin: $xxsm 0px;
            padding: 5px $sm;
            &:hover {
                box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
                    rgba(17, 17, 26, 0.1) 0px 16px 48px;
            }

            input[type="checkbox"] {
                margin-right: $md;
                cursor: pointer;
            }
            .completed {
                text-decoration: line-through;
            }
        }
        button {
            border: none;
            background-color: transparent;
        }
    }
}
