@import './../../theme/color';
@import './../../theme/size';

.primary_btn {
  background-color: $primary;
  color: white;
  padding: $md;
  border-radius: 10px;
  border: none;
  margin: 5px;
  font-size: 1.1rem;
}
