.loader {
    position: absolute;
    top: 12vh;
    left: calc(50% - 1em);
    width: 3em;
    height: 3em;
    border: 0.5em solid rgba(0, 0, 0, 0.2);
    border-left: 0.5em solid #3a76cf;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    opacity: 0;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
