@use "./../../../theme/" as *;

.navbar__container {
  @include flex(space-between, center, row);
  box-shadow: rgb(132, 132, 156) 1px 3px 6px;
  padding: $xxsm 0px;
  margin-bottom: $xsm;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: $bg;

  .navabar_left {
    @include flex(space-between, center, row);
    margin-left: $lg;
  }

  .navabar__right {
    @include flex(center, center, row);
    margin-right: $lg;
    ul {
      display: inline;

      a {
        margin-right: $xsm;
        text-decoration: none;
        color: $primary;
      }
    }
  }
}
