$font: black;
$font-light: white;
$primary: rgb(77, 77, 199);
$secondary: rgb(152, 199, 77);
$danger: rgb(238, 65, 65);
$warning: rgb(231, 231, 18);
$success: rgb(13, 167, 13);
$bg: white;
$bg-dark: #1d3557;
