.main__todo_container {
    padding: 1.5rem;
    width: 60%;
    margin-top: 50px;
    background-color: rgb(224, 224, 226);
    form {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        border-radius: 10px;
        button {
            width: max-content;
        }

        input {
            outline: none;
            border: none;
            flex: 1;
            line-height: 1rem;
            padding: 10px;
        }
    }

    .todo__container {
        display: flex;
        flex-direction: column;

        .todo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0px;

            input[type="checkbox"] {
                margin-right: 50px;
                cursor: pointer;
            }
            .completed {
                text-decoration: line-through;
            }
        }
        button {
            border: none;
            background-color: transparent;
        }
    }
}
